body {
    background-image: url(https://www.consumidorglobal.com/uploads/s1/24/04/91/cruceroi.jpeg);
    background-size: cover;
    background-attachment: fixed;
}

.fondo {
    background-color: rgba(119, 136, 153, 0.5);
    max-width: 90%;
    margin: 0 auto;
}

/* Estilos para la barra de navegacion */
header {
    background-color: #333;
    color: white;
    padding: 16px;
    position: sticky;
    top: 0px;
}

.barra-navegacion {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.link {
    color: white;
    font-size: 18px;
    padding: 10px 20px;   
}

.link:hover {
    background-color: #555;
    border-radius: 5px;
}

.link.activo{
    background-color: #04AA6D;
    border-radius: 5px;
}

/*Estilo a la flexbox*/
.contenedor {
    background-color: rgba(119, 136, 153, 0.5);
    display: flex;
    justify-content: space-around;
    align-items: stretch; 
    gap: 10px;
}

.caja1 img, .caja2 img {
    width: 400px; 
    height: 100%; 
    object-fit: cover; 
}

/*Estilo al formulario*/
fieldset {
    background-color: rgba(244, 241, 237, 0.95);
    color: firebrick;
    border: 2px solid darkgoldenrod;
    border-radius: 7px;
    width: 400px;
    padding: 20px;
}

fieldset label {
    display: block;
    margin: 10px 0 5px;
}

fieldset input,
fieldset textarea {
    width: 100%;
    margin-bottom: 5px;
    padding: 5px;
    border: 1px solid;
    border-radius: 4px;
}

.button-container {
    text-align: center;
}

/*Estilo al footer*/
footer {
    background-color: #333;
    padding: 5px;
    text-align: center;
}

.iconos {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.icono {
    width: 48px;
    height: 48px;
}

footer>h3 {
    color: #f7c600;
    margin: 10px 0;
}