body {
    background-image: url(https://www.consumidorglobal.com/uploads/s1/24/04/91/cruceroi.jpeg);
    background-size: cover;
    background-attachment: fixed;
}
.fondo {
    background-color: rgba(119, 136, 153, 0.5);
    max-width: 90%;
    margin: 0 auto;
}
/* Estilos para la barra de navegacion */
header {
    background-color: #333;
    color: white;
    padding: 16px;
    position: sticky;
    top: 0px;
}

.barra-navegacion {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.link {
    color: white;
    font-size: 18px;
    padding: 10px 20px;   
}

.link:hover {
    background-color: #555;
    border-radius: 5px;
}

.link.activo{
    background-color: #04AA6D;
    border-radius: 5px;
}

h1 {
    font-size: 60px;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

h2 {
    font-size: 40px;
    color: white;
    text-align: center;
    text-decoration: underline;
    text-shadow: 2px 2px 5px darkblue;
}

p {
    color: white;
    font-size: 20px;
    margin-left: 10px;
}

/* Estilos para la tabla */
table {
    border-collapse: collapse;
    margin-top: 10px;
    width: 75%;
    margin: 0 auto;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}
th {
    background-color: #666;
    color: white;
    font-size: 16px;
}
td {
    background-color: lightgoldenrodyellow;
    color: black;
}

/*Estilo a la flex-box*/
.InformacionBarco {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 10px;
}

.InformacionBarco img {
    width: 50%;
    height: 100%;
    margin-left: 10px;
}

/*Estilo al float*/
.PuertosBarco {
    float: right;
    margin-right: 25px;
}

/*Estilo a la lista*/
ul>li {
    color: white;
    font-size: 20px;
}

ul ol>li {
    color: yellow;
    font-size: 18px;
}

iframe {
    float: left;
}

/*Estilo al footer*/
footer {
    background-color: #333;
    padding: 5px;
    text-align: center;
}

.iconos {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.icono {
    width: 48px;
    height: 48px;
}

footer>h3 {
    color: #f7c600;
    margin: 10px 0;
}
